# Ignore all markdown and planning files except README.md
*.md
!README.md
implementation_plan2


# Standard node ignores just in case
node_modules/
.env

backend/hire_me_db.sqlite
backend/.env
frontend/.env
backend/public/uploads
